PORT=4000
BACKEND_BASE_URL=http://localhost:4000
FRONTEND_BASE_URL=http://localhost:5173

INTERSWITCH_MODE=TEST
INTERSWITCH_CLIENT_ID=
INTERSWITCH_CLIENT_SECRET=
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
INTERSWITCH_PAY_ITEM_NAME=AZA Instant Payment
INTERSWITCH_CURRENCY=566
INTERSWITCH_PASSPORT_TOKEN_URL=https://qa.interswitchng.com/passport/oauth/token
INTERSWITCH_API_BASE_URL=https://qa.interswitchng.com
INTERSWITCH_WEBPAY_BASE_URL=https://newwebpay.qa.interswitchng.com
INTERSWITCH_SITE_REDIRECT_URL=http://localhost:4000/api/interswitch/redirect
INTERSWITCH_WEBHOOK_SECRET=
